
    <label for="filter">Filter By Category</label>
    <div class="container-fluid">
    <select id="filter" class="form-control" name="filter" style="float: left; width: 25%; " [(ngModel)]="category">
        <option>Select one </option>
        <option *ngFor="let category of categoryList">{{category.name}}</option>
    </select>
    <button class="btn btn-primary" (click)="filter()"  style="margin: 5px; display: inline-block;">Filter</button>
    </div>
    <div style="float:right">
    <span style="margin: 5px;">Search By name</span>
    <input  type="text" name="search" name="search" id="search" [(ngModel)]="search">
    <button class="btn btn-primary" id="search-button" (click)="searchMedicine()" [disabled]="!search " style="margin: 5px; display: inline-block;">Search</button>
</div>
<label for="sort">Sort BY</label>
<div class="container-fluid">
    <select  id="sort" class="form-control" name="filter" style="margin:5px; float: left; width: 25%; " [(ngModel)]="sort">
        <option>Select one </option>
        <option>price</option>
        <option>Name</option>
        <option></option>
    </select>
    <button class="btn btn-primary" id="sort-button" (click)="sorted()" style="margin: 5px; display: inline-block;">Sort</button>
    <button class="btn btn-primary"  (click)="reset()" style="margin: 5px; display: inline-block;">Reset</button>
</div>
<br><br>

<div class="container-fluid">
    <div class="wrapper" *ngIf="searchToggle != true ">
        <div class="card col-sm" style="width: auto;" *ngFor="let medicine of medicineList">
            <div class="card-body text-center">
                <h5 class="card-title">{{medicine.med_name}}</h5>
                <p class="card-text">Id : {{medicine.id}}</p>
                <p class="card-text">Description : {{medicine.description}}</p>
                <p class="card-text">Name : {{medicine.med_name}}</p>
                <p class="card-text">Price :<span style="margin-right: 3px; font-weight: bolder; color: darkred;"> &#8377;{{medicine.price}}</span>  <s style="font-size: small;">&#8377;{{medicine.amount}}</s>  </p>
                <p class="card-text">Category : {{medicine.category}}</p>
                <button class="btn btn-secondary" *ngIf ="toggle == true" (click)="sub()">-</button>
                <input type="text" name="quantity" *ngIf ="toggle == true" disabled value="{{quantity}}"> 
                <button class="btn btn-secondary" id="add" *ngIf ="toggle == true" (click)="add()">+</button>
                <button class="btn btn-secondary" id="cart-final" style="margin: 5px;" *ngIf ="toggle == true" (click)="addCart(medicine)">Add</button>
                <br>
                <button class="btn btn-warning" [disabled]="loggedin == false" id="cartButton" (click)="cart()">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="wrapper">
        <div class="card" style="width: auto;" *ngIf="searchToggle == true ">
            <div class="card-body text-center">
                <h5 class="card-title">{{medicine.med_name}}</h5>
                <p class="card-text">Id : {{medicine.id}}</p>
                <p class="card-text">Description : {{medicine.description}}</p>
                <p class="card-text">Name : {{medicine.med_name}}</p>
               
                <p class="card-text">Price :<span style="margin-right: 3px; font-weight: bolder; color: darkred;"> &#8377;{{medicine.price}}</span>  <s style="font-size: small;">&#8377;{{medicine.amount}}</s>  </p>
                <p class="card-text">Category : {{medicine.category}}</p>
                <button class="btn btn-secondary" *ngIf ="toggle == true" (click)="sub()">-</button>
                <input type="text" name="quantity" *ngIf ="toggle == true" disabled value="{{quantity}}"> 
                <button class="btn btn-secondary" *ngIf ="toggle == true" (click)="add()">+</button>
                <button class="btn btn-secondary" style="margin: 5px;" *ngIf ="toggle == true" (click)="addCart(medicine)">Add</button>
                <br>
                <button class="btn btn-warning" (click)="cart()">Add to Cart</button>
            </div>
        </div>
    </div>
</div>

